<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="{{ 'header.new' | translate }}"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="openNew()"
                        ></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button
                        pButton
                        pRipple
                        label="{{ 'header.export' | translate }}"
                        icon="pi pi-upload"
                        class="p-button-help"
                        (click)="downloadData()"
                    ></button>
                </ng-template>
            </p-toolbar>

            <p-table
                #mytable
                [value]="items"
                [columns]="cols"
                responsiveLayout="scroll"
                [rows]="10"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="{{
                    'footer.showing' | translate
                }} {first} {{ 'footer.to' | translate }} {last} {{
                    'footer.of' | translate
                }} {totalRecords} {{ 'footer.entries' | translate }}"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">
                            {{ "object.headerKeychain" | translate }}
                        </h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Suchen..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{ "object.id" | translate }}</th>
                        <th>{{ "object.name" | translate }}</th>
                        <th>{{ "object.details" | translate }}</th>
                        <th>{{ "header.checks" | translate }}</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td
                            style="width: 8%; min-width: 10rem"
                            id="hover-item"
                            [routerLink]="['/pages/keychain/', item.ID]"
                        >
                            <span class="p-column-title">ExaminationDate</span>
                            {{ item.ID }}
                        </td>
                        <td
                            style="width: 40%; min-width: 10rem"
                            id="hover-item"
                            [routerLink]="['/pages/keychain/', item.ID]"
                        >
                            <span class="p-column-title">GroupName</span>
                            {{ item.Name }}
                        </td>
                        <td
                            style="width: 40%; min-width: 10rem"
                            id="hover-item"
                            [routerLink]="['/pages/keychain/', item.ID]"
                        >
                            <span class="p-column-title">GroupName</span>
                            {{ item.misc }}
                        </td>
                        <td
                            style="width: 40%; min-width: 10rem"
                            id="hover-item"
                            [routerLink]="['/pages/keychain/', item.ID]"
                        >
                            <span class="p-column-title">GroupName</span>
                            {{ keyBorrowed(item) }}
                        </td>
                        <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editProduct(item)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-warning"
                                    (click)="deleteProduct(item)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog
            [(visible)]="productDialog"
            [style]="{ width: '450px' }"
            header="{{ 'header.keychain' | translate }}"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">{{ "object.id" | translate }}</label>
                    <input
                        type="text"
                        pInputText
                        id="itemId"
                        [(ngModel)]="itemId"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !product.name
                        }"
                    />
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !item.ID"
                        >ID wird verlangt.</small
                    >
                </div>
                <div class="field">
                    <label for="name">{{ "object.name" | translate }}</label>
                    <input
                        type="text"
                        pInputText
                        id="itemName"
                        [(ngModel)]="itemName"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !product.name
                        }"
                    />
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !item.ID"
                        >ID wird verlangt.</small
                    >
                </div>

                <div class="field">
                    <label for="description">{{ 'object.details' | translate }}</label>
                    <textarea id="einschrankungen" pInputTextarea [(ngModel)]="item.Misc"  rows="3" cols="20"></textarea>
                </div>

                <div class="field">
                    <label for="name">{{ 'object.borrowTime' | translate }}</label>
                    <input type="text" pInputText id="name" [(ngModel)]="item.LoanPeriod"  autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}"/>

                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="{{ 'header.cancel' | translate }}"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="{{ 'header.continue' | translate }}"
                    class="p-button-text"
                    (click)="createItem()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="deleteProductDialog"
            header="{{ 'header.confirm' | translate }}"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span *ngIf="item"
                    >{{ "object.deleteQuestion" | translate }}
                    <b>{{ item.ID + " - " + item.Name}}</b></span
                >
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="{{ 'header.no' | translate }}"
                    (click)="deleteProductDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="{{ 'header.yes' | translate }}"
                    (click)="confirmDelete()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="deleteProductsDialog"
            header="{{ 'header.confirm' | translate }}"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="No"
                    (click)="deleteProductsDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Yes"
                    (click)="confirmDeleteSelected()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="editProductDialog"
            [style]="{ width: '450px' }"
            header="{{ 'header.objects' | translate }}"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">{{ "object.id" | translate }}</label>
                    <input
                        type="text"
                        pInputText
                        id="itemId"
                        [(ngModel)]="item.ID"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !product.name
                        }"
                        disabled
                    />
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !item.ID"
                        >ID wird verlangt.</small
                    >
                </div>
                <div class="field">
                    <label for="name">{{ "object.name" | translate }}</label>
                    <input
                        type="text"
                        pInputText
                        id="itemName"
                        [(ngModel)]="item.Name"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !product.name
                        }"
                    />
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !item.ID"
                        >ID wird verlangt.</small
                    >
                </div>

                <div class="field">
                    <label for="description">{{ 'object.details' | translate }}</label>
                    <textarea id="einschrankungen" pInputTextarea [(ngModel)]="item.misc"  rows="3" cols="20"></textarea>
                </div>

                <div class="field">
                    <label for="name">{{ 'object.borrowTime' | translate }}</label>
                    <input type="text" pInputText id="name" [(ngModel)]="item.LoanPeriod"  autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}"/>

                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="{{ 'header.cancel' | translate }}"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideEditDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="{{ 'header.save' | translate }}"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="updateItem()"
                ></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
